.card {
    text-align: center;
    width: 328px;
    border: 1px solid red;
    border-radius:2rem;
    box-sizing: border-box;
}
.card li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}