.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  box-sizing: border-box;
  margin: 0 1rem;
}
.container h1 {
  text-align: center;
  align-self: center;
  max-width: 904px;
  width: 100%;
}

.users__items {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users__card {
  flex: 1;
  width:100%;
  min-width: 328px;
  min-height: 254px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ffff;
  position: relative;
}
button.users__button {
    width: 120px;
    align-self: center;
  }
@media (min-width: 768px) {
  .container {
    margin: 0 2rem;
  }
  /* .container h1 {
    width: 704px;
  } */
  .users__items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .container {
    margin: 0 3.75rem;
  }
  /* .container h1 {
    width: 904px;
  } */
  .users__items {
    gap: 29px;
  }
  .users__card{
    min-width: 282px;
  }
}
@media (min-width: 2560px) {
    .container {
      margin: 0
    }
    .users__items {
      gap: 29px;
    }
    .users__card{
      min-width: 282px;
    }
  }
