
.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
    margin: 0 1rem;
}
.users__list-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.users__list-card h1{
    text-align: center;
}
.flexbox__container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    flex: 1;
    min-width: 328px;
    min-height: 254px;
    border-radius:10px;
    box-sizing: border-box;
    background-color: #ffff;
    position: relative;
}
@media(min-width:768px){
    .get-request-part {
        margin: 0 2rem;
    }
    .container {
        gap: 16px;
    }
}
@media (min-width: 1024px){
    .get-request-part{
        margin: 0 3.75rem;
    }
    .container {
        gap: 29px;
    }
}