* {
    margin: 0px;
    padding: 0px;

}
html {
    scroll-behavior: smooth;
  }
.nav__main {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
}
.nav__logo {
    position: absolute;
    width: 104px;
    height: 26px;
    left: 1rem;
    top: 17px;
}
.nav__items {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 210px;
    height: 34px;
    position: absolute;
    right: 1rem;
    top: 13px;
}
/* .nav__item {
    
    width: 100px;
    height: 34px;
    padding: 10px 5px;
    background-color: var(--primary-color);
    border-radius: 5rem;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-style: normal;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
} */
a.nav__item {
    text-decoration: none;
    font: inherit;
    font-size: 400;
    color:inherit;
    
}
.nav__item:hover {
    background-color: #ffffff;
    cursor:pointer;
}
@media (min-width: 768px){
    .nav__logo {
        left: 2rem;
    }
    .nav__items {
        right: 2rem;
    }
}
@media (min-width: 1024px){
    .nav__logo {
        left: 3.75rem;
    }
    .nav__items {
        right: 3.75rem;
    }
}
@media (min-width: 1024px){

    .nav__logo {
        left: 0;
    }
    .nav__items {
        right: 0;
    }
}